.header {
    padding: 60px;
    text-align: center;
    background: grey;
    color: white;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}
.nav-link a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.sideBar {
    flex:30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.mainPage {
    flex:70%;
    background-color: white;
    padding: 20px;
}

.photoImg {
    background-color: #aaa;
    /* width: 100%; */
    padding: 20px;
    height: 100px;
}

.sidebarImages {
    flex: 30%;
    background-color: #aaa;
    padding: 20px;
    height: 60px;
    border: solid red 1px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #aaa;
}