.mainContentContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10em;
    border: 5px solid red;
    align-content: space-around;
}

.articleList {
    flex: 25%;
    list-style-type: none;
    justify-content: center;
    text-align: justify;
    border: 1px solid black;
    padding: 2em;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.articleTitleContainer {
    display: flex;
    border: 1px solid red;
    padding: 0.5em;
    align-items: flex-end;
}

.articleTitle {
    font-size: 2em;
}

.articleDate {
    font-size: 0.8em;
    text-align: end;
    vertical-align: text-bottom;
}

.articleDescContainer  {
    word-break: break-all;
    width: 100%;
    
}

.articleDesc {

}